/* ELEMENTS */
:root {
    --main-color: #FFF;
    --secondary-color: #040303;
    --color-dark-purple: #2A0944;
    --color-purple: #3B185F;
    --light-purple: #9A208C;
    --color-pink: #A12568;
    --color-yellow: #fefb60;
    --color-orange: #FF4C29;
    --color-light-blue: #97DEFF;
    --color-transparent-pink: #ff00d07a;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

footer {
    height: 320px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    padding: 5px 0 5px 0;
}

/* Seção dos cards*/

.travel-section {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0 20px 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
}

.card {
    width: 200px;
    padding: 20px;
    margin: 5px 5px 0 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background: linear-gradient(135deg, #A8FF78, #78FFD6);
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 70%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card a {
    display: inline-block;
    background-color: linear-gradient(135deg, #A8FF78, #78FFD6);
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#card_flag {
    width: 25%;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
}

.card a:hover {
    background-color: rgb(12, 215, 151)var(--color-dark-purple);
}

/* Seção do Vídeo*/

.map-video-gif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0 5px 0;
}

.map-video-gif img {
    width: 500px;
}

.linha-grossa {
    height: 4px;
    background-color: black;
    border: none;
}

/* Seção do Itinerário*/
.itinerary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px 10px;
    background-color: var(--main-color);
}

.itinerary h1 {
    font-size: 30px;
    font-weight: 900;
}

.itinerary p {
    font-size: 10px;
    align-self: flex-start;
    text-indent: 5px;
}

.itinerary table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    font-size: 11.5px;
}

.itinerary img {
    width: 30px;
}

.itinerary td {
    padding: 5px 5px;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

.itinerary a {
    text-decoration: none;
    color: var(--secondary-color);
}

.transportation-cells th {
    background-color: var(--light-purple);
    color: var(--main-color);
    padding: 5px 5px;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

.hotel-cells th {
    background-color: var(--color-orange);
    color: var(--main-color);
    padding: 5px 5px;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

.city-title th {
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-size: 28px;
    padding: 5px 5px;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

.itinerary tr:hover {
    background-color: var(--color-yellow);
}

#black-cell {
    background-color: var(--secondary-color);
}

#destaque-fixo {
    background-color: var(--color-light-blue);
    font-weight: 600;
}

#important-date {
    background-color: var(--color-yellow);
    font-weight: 600;
}

#day {
    font-size: 20px;
    font-weight: 900;
    align-self: center;
    color: var(--color-pink);
}

#coffee img {
    width: 17px;
    background-color: var(--main-color);
    margin-right: 10px;
}

.ida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 10px;
}

.title-container {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--color-purple);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title-container img {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
}

.ida-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ida-content h2 {
    padding: 10px 0 20px 0;
}

.ida-content img {
    width: 95%;
    padding: 5px 0 20px 5px;
    border: 3px solid var(--color-dark-purple);
    border-radius: 10px;
}

@media (min-width: 768px) {
    .travel-section {
        display: flex;
        justify-content: center;
        background-color: #040303;
        padding-bottom: 20px;
    }

    .itinerary table {
        font-size: 18px;
    }

    .itinerary p {
        align-self: flex-start;
        text-indent: 120px;
    }

    .itinerary img {
        width: 80px;
    }

    .city-title th {
        font-size: 45px;
    }

    #coffee img {
        width: 30px;
    }

    .itinerary table {
        width: 85%;
    }

}
